.header {
  background: linear-gradient(232deg, #4b626e, #263238);
}
ion-button {
  text-transform: uppercase;
  letter-spacing: 1px;
  --border-width: 1px;
  --border-radius: var(--farmera-border-radius);
}
